<template>
  <q-page class="flex flex-center">
    <q-table
      title="TV Shows"
      :data="items"
      :columns="columns"
      row-key="name"
      :loading="loading"
      @request="fetchItems"
      wrap-cells
      :rows-per-page-label="' '"
      :rows-per-page-options="[0]"
    >
      <!-- Search field -->
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" @input="fetchItems" v-model="keyword" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search"/>
          </template>
        </q-input>
      </template>

      <!-- Rows -->
      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- Show name -->
          <q-td key="show_name" :props="props">
            {{ props.row.show_name }}
          </q-td>

          <!-- Language -->
          <q-td key="language" :props="props">
            {{ props.row.language }}
          </q-td>

          <!-- Genres -->
          <q-td key="genres" :props="props">
            <q-badge
              v-for="(genre, index) in props.row.genres"
              :key="index"
              class="q-mr-sm"
            >
              {{ genre }}
            </q-badge>
          </q-td>

          <!-- Status -->
          <q-td key="status" :props="props">
            {{ props.row.status }}
          </q-td>

          <!-- Rating -->
          <q-td key="rating" :props="props">
            {{ props.row.rating }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </q-page>
</template>

<script>
  export default {
    name: 'PageIndex',

    data() {
      return {
        keyword: 'girls',
        items: [],
        columns: [
          {name: 'show_name', label: 'Show name', align: 'left', field: 'show_name', sortable: true},
          {name: 'language', label: 'Language', align: 'left'},
          {name: 'genres', label: 'Genres', align: 'left'},
          {name: 'status', label: 'The status of the show', align: 'left'},
          {name: 'rating', label: 'Rating', align: 'left', field: 'rating', sortable: true},
        ],
        pagination: {
          page: 1,
          rowsPerPage: 10,
          rowsNumber: 10
        },
        loading: false,
      }
    },

    created() {
      this.fetchItems()
    },

    methods: {
      fetchItems() {
        this.loading = true
        this.$axios.get(`http://api.tvmaze.com/search/shows?q=${this.keyword}`)
          .then(res => {
            this.loading = false
            this.setItemsFromResponse(res.data)
          })
      },

      setItemsFromResponse(items) {
        this.items = []
        for (let item of items) {
          item = item.show
          this.items.push({
            show_name: item.name,
            language: item.language,
            genres: item.genres,
            status: item.status,
            rating: item.rating.average || 'N/a',
          })
        }
      }
    }
  }
</script>
